<?xml version="1.0" encoding="utf-8" ?>
<inform>
	<dataStore 
		name="Main" 
		createOnInitialize="true"
		connectionString="server=localhost;database=Inform;uid=development;pwd=d3v3lopm3nt"
		>
		<typeMapping type="Inform.Tests.Common.PlainObjects.Customer,Inform.Tests">
			<memberMapping member="CustomerID" primaryKey="true" identity="true" />
			<memberMapping member="Name" length="100" allowNulls="true" />
			<memberMapping member="AccountNumber" length="9" />
		</typeMapping>
	</dataStore>
</inform>